/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* reset end */
/* variables */
/* variables end */
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  position: relative; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

h1, h2, h3, p {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #ffd80d;
  letter-spacing: 1.2px; }

h2 {
  font-size: 40px;
  line-height: 1.25em;
  font-weight: 400;
  color: #2f0022; }

h3 {
  font-size: 30px;
  line-height: 1.25em;
  font-weight: 700;
  color: #2f0022; }

h4 {
  font-size: 24px;
  line-height: 1.25em;
  font-weight: 400;
  color: #ffd80d; }

p {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  color: #424242; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.cst-btn1 {
  display: block;
  position: relative;
  max-width: 352px;
  height: 67px;
  line-height: 67px;
  border-radius: 5px;
  background-color: #970653;
  background-image: linear-gradient(to top, #6e043c 0%, #a60746 100%);
  color: #ffe354;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: 0;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.8px;
  transition: box-shadow .2s ease-in-out, color .2s ease-in-out; }

.cst-btn1 span {
  position: relative;
  z-index: 2; }

.cst-btn1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 352px;
  height: 67px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #870549 0%, #be0850 100%);
  opacity: 0;
  transition: opacity .2s ease-in-out;
  z-index: 0; }

.cst-btn1:hover:after,
.cst-btn1:focus:after,
.cst-btn1:active:after {
  opacity: 1; }

.cst-btn1:hover,
.cst-btn1:focus,
.cst-btn1:active {
  box-shadow: 0 5px 40px rgba(151, 6, 83, 0.4); }

@media (max-width: 767px) {
  .cst-btn1 {
    width: 290px; }
  .cst-btn1:after {
    width: 290px; } }

/* block1 */
.block1-fluid {
  padding-bottom: 130px; }

.block1-nav {
  padding-right: 30px;
  padding-left: 30px; }

.nav-logo {
  max-width: 250px; }

ul.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-right: 30px;
  text-align: right; }

ul.nav-list li {
  display: inline; }

ul.nav-list li a {
  font-size: 14px;
  padding: 20px;
  color: #ffd80d;
  transition: color .2s ease-in-out; }

ul.nav-list li a:hover,
ul.nav-list li a:focus,
ul.nav-list li a:active {
  color: #fff9d9; }

.block1 {
  padding-bottom: 80px; }

.block1 h1 {
  margin-bottom: 75px; }

.block1 p {
  color: #ffd80d; }

.block2 {
  padding-top: 30px; }

p.main-p {
  color: #2f0022;
  font-weight: 700; }

p a {
  text-decoration: underline;
  color: inherit; }

p a:hover,
p a:focus,
p a:active {
  text-decoration: underline;
  color: inherit; }

@media (max-width: 767px) {
  .block1-fluid {
    background: url("../assets/img/b1-bg-mobile.jpg");
    background-size: 100% 100%;
    background-position: 50% 85%;
    padding-bottom: 50px; }
  .nav-logo {
    max-width: 180px; }
  .block1 {
    padding-bottom: 40px; }
  .block1 h1 {
    margin-bottom: 40px; }
  .block2 {
    padding-top: 0; } }

@media (min-width: 768px) {
  .block1-fluid {
    background: url("../assets/img/b1-bg.jpg");
    background-size: 1920px 100%;
    background-position: 50% 100%; } }

@media (min-width: 992px) {
  ul.nav-list li a {
    font-size: 13px;
    padding: 10px;
    color: #ffd80d;
    transition: color .2s ease-in-out; } }

@media (min-width: 1200px) {
  ul.nav-list li a {
    font-size: 14px;
    padding: 20px;
    color: #ffd80d;
    transition: color .2s ease-in-out; } }

@media (min-width: 1920px) {
  .block1-fluid {
    background: url("../assets/img/b1-bg.jpg");
    background-size: 100% 100%;
    background-position: inherit; } }

/* block1 end */
/* block3 */
.block3-fluid {
  padding-bottom: 100px; }

.h1-num {
  color: #970653;
  font-size: 60px !important; }

.main-p20 {
  font-size: 20px; }

table.my-table {
  width: 100%;
  max-width: 100%;
  background-color: transparent; }

table.my-table2 {
  table-layout: fixed; }

table.my-table td,
table.my-table th {
  vertical-align: top;
  border-right: 8px solid #ffffff;
  border-left: 8px solid #ffffff; }

table.my-table th {
  border: 8px solid #ffffff;
  vertical-align: middle;
  padding: 0.75rem;
  text-align: center;
  color: #ffffff;
  height: 78px; }

table.my-table td {
  padding: 0.25rem 0.75rem;
  height: 53px;
  vertical-align: middle;
  text-align: center; }

table.my-table1 td:nth-of-type(1) {
  text-align: left;
  white-space: nowrap; }

table.my-table tr:nth-of-type(odd) {
  background-color: #fbfbfb; }

table.my-table tr:nth-of-type(even) {
  background-color: #f2f2f2; }

table.my-table2 tr {
  transition: background-color .2s ease-in-out; }

table.my-table2 tr:hover {
  background-color: #eaeaea; }

table.my-table th:nth-of-type(odd) {
  background-color: #46012e; }

table.my-table th:nth-of-type(even) {
  background-color: #970653; }

.cst-table-btn {
  display: block;
  max-width: 352px;
  min-width: 220px;
  height: 36px;
  border-radius: 5px;
  background-color: #fee155;
  text-align: center;
  line-height: 36px;
  border: 0;
  color: #424242;
  font-size: 15px;
  font-weight: 700;
  transition: background-color .2s ease-in-out; }

.cst-table-btn:hover,
.cst-table-btn:focus,
.cst-table-btn:active {
  background-color: #feea88; }

.cst-table-btn2 {
  max-width: 211px;
  min-width: 190px; }

.small-p {
  font-size: 13px;
  letter-spacing: 0.26px;
  color: #424242; }

@media (max-width: 767px) {
  .block3-fluid {
    padding-top: 25px;
    padding-bottom: 50px; }
  table.my-table {
    font-size: 12px; }
  table.my-table2 td:nth-of-type(1) {
    white-space: nowrap; }
  table.my-table td {
    height: 41px; }
  table.my-table td,
  table.my-table th {
    border-right: 4px solid #ffffff;
    border-left: 4px solid #ffffff; }
  table.my-table th img {
    width: 50%; }
  .cst-table-btn {
    min-width: 163px;
    height: 28px;
    line-height: 28px;
    font-size: 11px; }
  .responsive-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; } }

/* block3 end */
/* block4 */
.block4-fluid {
  padding-bottom: 100px; }

.list-p {
  position: relative;
  padding-left: 60px; }

.list-p img {
  position: absolute;
  left: 0;
  top: -2px; }

.b-for-list {
  width: 100%; }

.b-for-list1 {
  max-width: 263px; }

@media (max-width: 767px) {
  .block4-fluid {
    padding-bottom: 50px; } }

/* block4 end */
/* block5 */
.block5-fluid {
  padding-bottom: 100px; }

@media (max-width: 767px) {
  .block5-fluid {
    padding-bottom: 50px; } }

/* block5 end */
/* block6 */
.block6-fluid {
  padding-bottom: 100px; }

@media (max-width: 767px) {
  .block6-fluid {
    padding-bottom: 50px; } }

/* block6 end */
/* block9 */
.block9-fluid {
  position: relative;
  background: url("../assets/img/b9-bg.jpg") top center;
  padding-top: 150px;
  overflow-x: hidden; }

.h1-span {
  font-size: 60px;
  color: #970653; }

.b9-img1-bg {
  position: absolute;
  top: 70px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%); }

.block9-1 {
  position: relative;
  padding-bottom: 120px; }

.b9-logo {
  display: block;
  max-width: 250px; }

.block9-2 ul.nav-list {
  text-align: center; }

.block9-2 {
  padding-bottom: 20px; }

.b9-2-p {
  color: #ffe354;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.26px;
  max-width: 915px; }

.b9-2-foot {
  color: #ffe354;
  font-size: 14px; }

@media (max-width: 767px) {
  .block9-fluid {
    background: url("../assets/img/bg-bot-mobile.jpg") top center;
    padding-top: 120px; }
  .h1-span {
    display: block;
    font-size: 48px;
    margin-top: 10px; }
  .b9-for-mobile {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto; }
  .b9-logo {
    max-width: 180px; }
  .cst-btn2 {
    font-size: 14px; }
  .b9-2-p {
    font-size: 10px; } }

@media (min-width: 1920px) {
  .block9-fluid {
    position: relative;
    background: url("../assets/img/b9-bg.jpg") top center;
    background-size: 100% 100%; } }

/* block8 end */
/* global */
.py-gl {
  padding-top: 100px;
  padding-bottom: 100px; }

.img-responsive {
  display: block;
  max-width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: auto; }

.mb-90 {
  margin-bottom: 90px !important; }

.text-center {
  text-align: center; }

@media (max-width: 767px) {
  .py-gl {
    padding-top: 50px;
    padding-bottom: 50px; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 18px; }
  .xs-text-center {
    text-align: center; }
  .mb-xs-40 {
    margin-bottom: 40px !important; }
  .mb-xs-10 {
    margin-bottom: -10px !important; } }

/* global end */
