/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* reset end */
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-12, .col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  position: relative;
  font-weight: 400; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%; }

h1 {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.25em;
  font-weight: 600; }
  @media (max-width: 767px) {
    h1 {
      font-size: 26px; } }

h2 {
  line-height: 1.25em; }

p {
  color: #808080;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.96px; }
  @media (max-width: 767px) {
    p {
      font-size: 13px; } }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

.text-center {
  text-align: center; }

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: auto; }

.cst-btn1 {
  display: inline-block;
  position: relative;
  padding: 0 0 10px 0;
  border-radius: 0;
  color: #808080;
  letter-spacing: 3.3px;
  border: 0;
  text-decoration: none;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #808080;
  -webkit-transition: color .15s ease-in-out, border .15s ease-in-out;
  transition: color .15s ease-in-out, border .15s ease-in-out; }

.cst-btn1:hover,
.cst-btn1:focus,
.cst-btn1:active {
  color: #0aaae6;
  border-bottom: 2px solid #0aaae6; }

.cst-btn2 {
  display: inline-block;
  position: relative;
  padding: 15px 50px 15px 50px;
  border-radius: 2px;
  color: #ffffff;
  letter-spacing: 4.8px;
  background-color: #0aaae6;
  border: 0;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out; }

.cst-btn2:hover,
.cst-btn2:focus,
.cst-btn2:active {
  color: #ffffff;
  background-color: #0998ce; }

/* block1 */
.block1-fluid {
  background-color: #f9f9f9;
  padding: 15px; }

p.logo-p {
  position: relative;
  text-align: center;
  padding-top: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px; }
  p.logo-p span {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    line-height: 0.85em; }
  p.logo-p img {
    position: absolute;
    max-width: 74px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  @media (max-width: 767px) {
    p.logo-p {
      text-align: left;
      padding-top: 0;
      padding-left: 55px;
      font-size: 16px; }
      p.logo-p span {
        font-size: 10px;
        margin-top: 5px; }
      p.logo-p img {
        position: absolute;
        max-width: 50px;
        top: 0;
        left: 0;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0); } }

/* block1 end */
/* block2 */
.block2-fluid {
  padding: 15px;
  padding-top: 60px;
  background: url("../assets/img/b2-bg.jpg");
  background-position: center;
  background-size: auto 100%; }
  .block2-fluid h1 {
    max-width: 805px;
    margin-bottom: 40px; }
  .block2-fluid p.p-author {
    font-size: 12px;
    color: #ffffff; }
  @media (max-width: 767px) {
    .block2-fluid {
      padding-top: 15px; }
      .block2-fluid h1 {
        margin-bottom: 20px; } }

/* block2 end */
/* block3 */
.block3-fluid {
  padding-top: 25px;
  padding-bottom: 25px; }

/* block3 end */
/* block4 */
.block4-fluid {
  background: url("../assets/img/b4-bg.jpg") center top;
  padding-top: 50px;
  padding-bottom: 50px; }
  .block4-fluid .row {
    margin-bottom: 100px; }
    .block4-fluid .row:nth-last-of-type(1) {
      margin-bottom: 0; }
  .block4-fluid .b4-copy {
    max-width: 450px; }
  .block4-fluid img {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); }
  .block4-fluid p.bigger {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
    position: relative;
    padding-left: 50px;
    font-weight: 600; }
    .block4-fluid p.bigger span {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 48px;
      letter-spacing: 0.48px;
      vertical-align: middle;
      font-weight: 400; }
  @media (max-width: 767px) {
    .block4-fluid {
      padding-top: 40px;
      background: #ffffff; }
      .block4-fluid .b4-copy {
        margin-bottom: 20px; }
      .block4-fluid p.bigger {
        margin-bottom: 20px; }
      .block4-fluid .row {
        margin-bottom: 40px; }
      .block4-fluid img {
        box-shadow: 0 20px 40px transparent; } }

/* block4 end */
/* block5 */
.block5-fluid {
  padding: 50px 15px;
  background: url("../assets/img/pattern.jpg"); }
  .block5-fluid p.bigger {
    max-width: 700px;
    font-weight: 600; }

/* block5 end */
/* block6 */
.block6-fluid {
  background: url("../assets/img/b6-bg.jpg");
  background-position: 50% 80%; }
  @media (max-width: 767px) {
    .block6-fluid {
      background: #ffffff; } }

/* block6 end */
/* block8 */
.block8-fluid {
  padding: 80px 15px; }
  .block8-fluid .socials-div a {
    margin-right: 50px;
    opacity: 0.6;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out; }
    .block8-fluid .socials-div a:nth-last-of-type(1) {
      margin-right: 0; }
    .block8-fluid .socials-div a:hover {
      opacity: 1; }
  .block8-fluid .footer-links {
    text-align: center;
    font-size: 12px;
    color: #808080;
    font-weight: 600; }
    .block8-fluid .footer-links a {
      margin-right: 30px;
      -webkit-transition: color .15s ease-in-out;
      transition: color .15s ease-in-out; }
      .block8-fluid .footer-links a:nth-last-of-type(1) {
        margin-right: 0; }
      .block8-fluid .footer-links a:hover {
        color: #0aaae6; }
  @media (max-width: 767px) {
    .block8-fluid {
      padding: 50px 15px; }
      .block8-fluid .socials-div a {
        margin-right: 25px; } }

/* block8 end */
/* global */
.container-fluid .mb-20 {
  margin-bottom: 20px; }

.container-fluid .mb-30 {
  margin-bottom: 30px; }

.container-fluid .mx-auto {
  margin-right: auto;
  margin-left: auto; }

.container-fluid p.smaller {
  font-size: 0.875em; }

.container-fluid p.bigger {
  font-size: 1.125em; }

.container-fluid .montserrat {
  font-family: "Montserrat", sans-serif; }

.container-fluid .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.container-fluid .align-self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
          align-self: center; }

.container-fluid .align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.container-fluid .text-right {
  text-align: right; }

@media (max-width: 767px) {
  .container-fluid .xs-text-center {
    text-align: center; }
  .container-fluid .xs-text-left {
    text-align: left; }
  .container-fluid p.bigger {
    font-size: 1em; } }

@media (min-width: 768px) {
  .container-fluid .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1; }
  .container-fluid .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
            order: 2; } }

/* global end */
