//colors 
$grey: #808080;
$blue: #0aaae6;

//font
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$h1-color: #ffffff; 
$h1-size: 44px;
$h1-size-mobile: 26px; 

$p-color: $grey; 
$p-size: 14px;    
$p-size-mobile: 13px;
 
//background images paths
$block2-img-path: '../assets/img/b2-bg.jpg'; 
$block4-img-path: '../assets/img/b4-bg.jpg';
$block5-img-path: '../assets/img/pattern.jpg';
$block6-img-path: '../assets/img/b6-bg.jpg';
  
//button 1
$btn1-color: $grey;  
$btn1-hover: $blue;
   
//button 2  
$btn2-color: #ffffff;
$btn2-background: $blue;



