/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* reset end */
@-ms-viewport {
  width: device-width; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-12, .col-6, .col-md-2, .col-md-6, .col-md-4, .col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 768px) {
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; } }

@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/MuseoSansMedium.woff") format("woff"), url("../assets/fonts/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/MuseoSansBold.woff") format("woff"), url("../assets/fonts/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/MuseoSansBlack.woff") format("woff"), url("../assets/fonts/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

body {
  font-family: "MuseoSans", sans-serif;
  overflow-x: hidden;
  position: relative;
  font-weight: 500;
  background-color: #f5f5f5; }

.fourK {
  box-shadow: -2px 0 50px rgba(188, 190, 202, 0.32), 2px 0 50px rgba(188, 190, 202, 0.32); }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: 1920px;
  background-color: #ffffff; }

h1 {
  line-height: 1.25em;
  font-weight: 900;
  font-size: 60px;
  color: #ffffff; }
  @media (max-width: 767px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 44px;
  color: #404856;
  font-weight: 900;
  line-height: 1.25em; }
  @media (max-width: 767px) {
    h2 {
      font-size: 30px; } }

h3 {
  font-size: 30px;
  color: #404856;
  font-weight: 900;
  line-height: 1.25em; }
  @media (max-width: 767px) {
    h3 {
      font-size: 20px; } }

p {
  font-size: 18px;
  color: #404856;
  line-height: 1.55em;
  letter-spacing: 0.36px;
  font-weight: 500; }
  @media (max-width: 767px) {
    p {
      font-size: 16px; } }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

.text-center {
  text-align: center; }

.img-responsive {
  display: block;
  max-width: 100%;
  flex-shrink: 0;
  height: auto; }

.cst-btn1 {
  display: inline-block;
  position: relative;
  padding: 20px 50px 18px 50px;
  border-radius: 28px;
  border: 0;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  box-shadow: 0 8px 16px rgba(40, 211, 144, 0.3);
  background-color: #28d390;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.cst-btn1:hover,
.cst-btn1:focus,
.cst-btn1:active {
  color: #ffffff;
  background-color: #3bda9b;
  box-shadow: 0 8px 40px rgba(40, 211, 144, 0.6); }

/* ======== block1 ======== */
.block1-fluid {
  background: url("../assets/img/b1-bg.jpg") center bottom;
  height: 600px;
  padding-top: 20px; }
  .block1-fluid .logo {
    max-width: 170px;
    margin-left: 20px; }
  .block1-fluid h1 {
    max-width: 360px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 100px; }
  .block1-fluid h1 span {
    display: inline-block;
    line-height: 60px;
    padding: 10px 20px;
    background-color: #90dfaa;
    margin-bottom: 9px; }
  @media (max-width: 767px) {
    .block1-fluid {
      background: url("../assets/img/b1-bg-mobile.jpg") center bottom;
      height: auto;
      padding-bottom: 200px;
      padding-top: 20px; }
      .block1-fluid .logo {
        width: 110px;
        margin-left: 0; }
      .block1-fluid h1 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        text-align: center; }
      .block1-fluid h1 span {
        display: inline-block;
        line-height: 40px;
        padding: 5px 10px;
        background-color: #90dfaa;
        margin-bottom: 5px; } }
  @media (min-width: 768px) {
    .block1-fluid {
      background: url("../assets/img/b1-bg-md.jpg") center bottom;
      height: 450px; }
      .block1-fluid h1 {
        text-align: right;
        margin-top: 25px; } }
  @media (min-width: 992px) {
    .block1-fluid {
      background: url("../assets/img/b1-bg.jpg") center bottom;
      height: 600px; }
      .block1-fluid h1 {
        text-align: left;
        margin-top: 100px; } }

/* ======== block2 ======== */
.block2-fluid {
  background: url("../assets/img/b2-bg.png") center no-repeat;
  padding-top: 90px;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden; }
  .block2-fluid .b2-copy {
    max-width: 790px;
    margin-right: auto;
    margin-left: auto; }
  .block2-fluid .bot-shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  @media (max-width: 767px) {
    .block2-fluid {
      padding-top: 50px;
      padding-bottom: 130px; }
      .block2-fluid .cst-btn1 {
        font-size: 16px;
        padding: 20px 25px 18px 25px; } }

/* ======== block3 ======== */
.block3-fluid {
  padding-top: 75px;
  padding-bottom: 100px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .block3-fluid {
      padding-top: 0;
      padding-bottom: 50px; }
      .block3-fluid .b3-img1 {
        display: block;
        max-width: 100%;
        flex-shrink: 0;
        height: auto; } }

.list-p {
  position: relative;
  padding-left: 55px;
  margin-bottom: 15px; }
  .list-p:before {
    content: url("../assets/img/arrow.svg");
    position: absolute;
    left: 0;
    top: -1px; }
  @media (max-width: 767px) {
    .list-p {
      padding-left: 35px; } }

/* ======== block4 ======== */
.block4-fluid {
  padding-top: 75px;
  padding-bottom: 100px;
  background: url("../assets/img/b4-bg.png") center no-repeat; }
  @media (max-width: 767px) {
    .block4-fluid {
      padding-top: 0;
      padding-bottom: 50px; }
      .block4-fluid .b4-img1 {
        max-width: 300px;
        width: 100%; }
      .block4-fluid .b4-copy {
        margin-bottom: 30px; } }

/* ======== block5 ======== */
.block5-fluid {
  padding-top: 90px;
  padding-bottom: 75px;
  overflow: hidden;
  background: url("../assets/img/b5-bg.jpg") center top no-repeat; }
  .block5-fluid .card {
    position: relative;
    padding: 65px 35px 45px 35px;
    box-shadow: 0 10px 30px rgba(64, 72, 86, 0.15);
    border-radius: 50px;
    border: 10px solid #ffffff;
    background-color: #f6f7f8;
    max-width: 385px; }
    .block5-fluid .card .card-label {
      position: absolute;
      top: -35px;
      left: 50%;
      width: 151px;
      height: 60px;
      line-height: 39px;
      text-align: center;
      border-radius: 30px;
      border: 10px solid #ffffff;
      background-color: #eceff1;
      transform: translateX(-50%); }
    .block5-fluid .card .card-logo {
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline-block;
      width: 51px;
      height: 51px;
      border-radius: 100%;
      box-shadow: 0 5px 10px rgba(144, 223, 170, 0.3);
      background-color: #90dfaa; }
      .block5-fluid .card .card-logo img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .block5-fluid .card .card-price {
      font-size: 24px;
      font-weight: 900; }
      .block5-fluid .card .card-price span:nth-of-type(1) {
        font-size: 30px; }
      .block5-fluid .card .card-price span:nth-of-type(2) {
        font-size: 52px; }
    .block5-fluid .card .list-p {
      font-size: 16px;
      padding-left: 40px; }
      .block5-fluid .card .list-p:nth-last-of-type(1) {
        margin-bottom: 40px; }
  .block5-fluid .card2 {
    margin-left: auto;
    margin-right: 0; }
  @media (max-width: 767px) {
    .block5-fluid {
      padding-top: 50px;
      padding-bottom: 322px;
      background-color: #f3f3f3;
      background: url("../assets/img/b5-bg-m-cat.jpg") center bottom no-repeat; }
      .block5-fluid .card1 {
        margin-bottom: 60px; }
      .block5-fluid .card {
        max-width: 385px;
        margin-right: auto;
        margin-left: auto;
        padding: 65px 20px 45px 20px; }
        .block5-fluid .card .card-price span:nth-of-type(2) {
          font-size: 40px; }
      .block5-fluid .card2 {
        margin-left: auto;
        margin-right: auto; } }
  @media (min-width: 768px) {
    .block5-fluid {
      background: url("../assets/img/b5-bg-m.jpg") center top no-repeat; } }
  @media (min-width: 992px) {
    .block5-fluid {
      background: url("../assets/img/b5-bg.jpg") center top no-repeat; }
      .block5-fluid .card {
        max-width: 330px; } }
  @media (min-width: 1200px) {
    .block5-fluid .card {
      max-width: 385px; } }

/* ======== footer ======== */
.footer {
  position: relative;
  height: 64px;
  background-color: #dbdee0; }
  .footer p {
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 64px; }

/* ======== checkout ======== */
.block1-fluid.checkout1 h1 {
  margin-top: 20px; }

.checkout2-fluid {
  position: relative;
  background: url("../assets/img/b2-bg.png") center no-repeat; }
  .checkout2-fluid .form-card {
    position: relative;
    box-shadow: 0 15px 30px rgba(137, 137, 137, 0.15);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 60px 100px;
    transform: translateY(-200px); }
  .checkout2-fluid .form-card-block {
    max-width: 730px;
    margin-right: auto;
    margin-left: auto; }
  .checkout2-fluid .list-p {
    padding-left: 40px;
    font-size: 16px;
    margin-bottom: 10px; }
  .checkout2-fluid hr.green-hr {
    border-top: 3px solid #90dfaa;
    margin-top: 0;
    margin-bottom: 20px; }
  @media (max-width: 767px) {
    .checkout2-fluid .form-card {
      margin-right: -15px;
      margin-left: -15px;
      padding: 30px 20px;
      transform: translateY(-20px); } }
  @media (min-width: 768px) {
    .checkout2-fluid .form-card {
      padding: 60px 50px;
      transform: translateY(-75px); } }
  @media (min-width: 992px) {
    .checkout2-fluid .form-card {
      padding: 60px 100px;
      transform: translateY(-150px); } }

/* ======== forms ======== */
.form-wrap {
  position: relative;
  display: inline-block;
  width: 100%; }
  .form-wrap .form-class {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #bbc0c9;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
    .form-wrap .form-class:focus {
      border-color: rgba(68, 180, 78, 0.6);
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(68, 180, 78, 0.6); }
  .form-wrap .label-form {
    font-size: 14px; }
  .form-wrap img.date-img {
    position: absolute;
    bottom: 9px;
    right: 9px; }
  .form-wrap #checkBox {
    position: absolute;
    left: 0;
    top: 0; }
  .form-wrap img.check1 {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer; }
  .form-wrap img.check2 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity .15s ease-in-out; }
  .form-wrap img.check2.opacity1 {
    opacity: 1; }
  .form-wrap .p-check {
    position: relative;
    padding-left: 35px;
    font-size: 14px;
    line-height: 25px; }

@media (max-width: 767px) {
  .footer-with-cat {
    margin-top: 200px; } }

.footer-cat {
  position: absolute;
  right: 10%;
  bottom: 20px; }
  @media (max-width: 767px) {
    .footer-cat {
      bottom: 50px;
      width: 250px;
      right: 50%;
      transform: translateX(50%); } }
  @media (min-width: 768px) {
    .footer-cat {
      bottom: 30px;
      right: 0;
      width: 250px; } }
  @media (min-width: 992px) {
    .footer-cat {
      bottom: 20px;
      right: 10%;
      width: 366px; } }

/* ======== confirmation ======== */
.confirmation1-fluid {
  height: 380px;
  background: url("../assets/img/confirmation-bg.jpg") center bottom; }
  .confirmation1-fluid h1 {
    margin-top: 10px; }
  @media (max-width: 767px) {
    .confirmation1-fluid {
      background: url("../assets/img/b1-bg-mobile.jpg") center bottom; } }
  @media (min-width: 768px) {
    .confirmation1-fluid {
      background: url("../assets/img/b1-bg-md.jpg") center bottom; } }
  @media (min-width: 992px) {
    .confirmation1-fluid {
      background: url("../assets/img/confirmation-bg.jpg") center bottom; } }

.confirmation3-fluid {
  overflow: hidden; }
  .confirmation3-fluid p {
    font-size: 18px; }
  .confirmation3-fluid .c3-copy {
    padding-top: 20px;
    padding-bottom: 40px; }
  @media (max-width: 767px) {
    .confirmation3-fluid .c3-copy img {
      width: 125px; }
    .confirmation3-fluid p {
      font-size: 16px; } }

/* ======== global ======== */
.container-fluid .mb-15 {
  margin-bottom: 15px; }

.container-fluid .mb-20 {
  margin-bottom: 20px; }

.container-fluid .mb-30 {
  margin-bottom: 30px; }

.container-fluid .mb-40 {
  margin-bottom: 40px; }

.container-fluid .mb-50 {
  margin-bottom: 50px; }

.container-fluid .mx-auto {
  margin-right: auto;
  margin-left: auto; }

.container-fluid p.head-p {
  font-size: 30px;
  font-weight: 900;
  line-height: 36px; }

.container-fluid .d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container-fluid .align-self-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.container-fluid .align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container-fluid .text-right {
  text-align: right; }

.container-fluid .align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

@media (max-width: 767px) {
  .container-fluid .xs-text-center {
    text-align: center; }
  .container-fluid .xs-text-left {
    text-align: left; }
  .container-fluid p.head-p {
    font-size: 25px; } }
